name: Reusable PlatformIO Test

on:
  workflow_call:
    inputs:
      project-path:
        required: false
        type: string
        default: .
      support-install:
        required: false
        type: string
        default: git+https://github.com/Terrapin-Rocket-Team/Astra-Support.git@main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            ~/.platformio
          key: ${{ runner.os }}-pio-${{ hashFiles('**/platformio.ini') }}
          restore-keys: |
            ${{ runner.os }}-pio-
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: pip install --upgrade platformio pipx
      - name: Install Astra Support
        run: pipx install "${{ inputs.support-install }}"
      - name: Run tests
        run: astra-support test --project "${{ inputs.project-path }}" --no-progress --clean
